.animated-topography {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
}

.animated-topography line {
  stroke-width: 1;
  transition: all 0.5s ease;
}

.animated-topography circle {
  filter: blur(3px);
  transition: all 0.5s ease;
}